.FormContainer {
   margin: 0 auto;
   max-width: 982px;
   padding: 0px 10px;
}

.Form {
   padding: 68px 0px 0px;
}

.FormFilling {
   border-radius: 15px;
   box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
}

.FormBtn {
   line-height: 1.4;
   min-height: 40px;
   background: #5C87DB;
   border-radius: 10px;
   color: #FFFFFF;
   flex: 0 0 158px;
   transition: all 0.3s linear 0s;
}

.FormBtn:hover {
   background: #3E67B7;
   transition: all 0.3s linear 0s;
}

.FormSubmit {
   display: flex;
   justify-content: flex-end;
   padding: 23px 30px 23px;
}

.FormLocation {
   padding: 17px 30px 30px;
   background: #5C87DB;
   border-radius: 15px 15px 0px 0px;
   display: grid;
   grid-template-columns: repeat(4, 208px);
   column-gap: 23px;
}

.Departure {
   border-radius: 10px;
   padding: 12px;
   color: #5C5C5C;
   font-weight: 700;
   max-width: 100%;
}

.DepartureLabel {
   color: #FFFFFF;
   font-size: 0.78rem;
   margin-bottom: 2px;
}

.ReturnTrip {
   border-radius: 10px;
   background-image: url(./../../public//images/calendar_grey.svg);
   background-repeat: no-repeat;
   background-position: 12px 50%;
   padding: 12px 12px 12px 41px;
   color: #5C5C5C;
   font-weight: 700;
   max-width: 100%;
}

.DepartureStatic {
   background-color: #FFFFFF;
   border-radius: 10px;
   padding: 12px;
   color: #5C5C5C;
   font-weight: 700;
}

.DepartureCalendar {
   margin-right: 6px;
}

.FormDeparture {
   position: relative;
}

.Error {
   color: rgb(214, 59, 59);
   font-size: 0.75rem;
   position: absolute;
   bottom: -13px;
   left: 0px;
}

@media (max-width:991.98px) {
   .FormContainer {
      max-width: 750px;
   }

   .FormLocation {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
   }

   .Departure,
   .ReturnTrip {
      width: 100%;
   }
}

@media (max-width:766.98px) {
   .FormContainer {
      max-width: none;
   }
}

@media (max-width:500px) {
   .FormLocation {
      display: flex;
      flex-direction: column;
   }
}