.TicketContainer {
   margin: 0 auto;
   max-width: 1000px;
   padding: 0px 10px;
}

.TicketBlock {
   padding: 51px 0px 20px;
}

.TicketBackLink {
   color: #232323;
   display: inline-block;
   font-weight: 600;
   transition: all 0.3s linear 0s;
}

.TicketBack:hover .TicketBackLink {
   transition: all 0.3s linear 0s;
   color: #5C87DB;
}

.TicketBack {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.TicketArrow {
   margin-right: 5px;
   transition: all 0.3s linear 0s;
}

@media (max-width:991.98px) {
   .TicketContainer {
      max-width: 750px;
   }
}

@media (max-width:766.98px) {
   .TicketContainer {
      max-width: none;
   }

   .TicketBlock {
      padding: 30px 0px 20px;
   }
}